In [1]:
from risingwave import RisingWave, RisingWaveConnOptions

In [2]:
rw = RisingWave(RisingWaveConnOptions("postgresql://molihua:Az&&&&09@192.168.31.72:4566/dev"))

In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv("dim_language.csv")

In [12]:
df.head(3)

  language_code language_name_zh language_name_en language_name_local
0            aa             阿法尔语             Afar              Afaraf
1            ab            阿布哈兹语           Abkhaz        аҧсуа бызшәа
2            ae            阿维斯陀语          Avestan              avesta

In [ ]:
# 按目标数据表名称重命名
df = df.rename(columns={
    '639-1 代码': 'language_code',
    'ISO 语言(中文)名称': 'language_name_zh',
    'ISO 语言名称': 'language_name_en',
    '本地名称 (地名)': 'language_name_local'
})

In [10]:
# 只保留与表结构匹配的列
df = df[['language_code', 'language_name_zh', 'language_name_en', 'language_name_local']]

In [13]:
df.head(3)

  language_code language_name_zh language_name_en language_name_local
0            aa             阿法尔语             Afar              Afaraf
1            ab            阿布哈兹语           Abkhaz        аҧсуа бызшәа
2            ae            阿维斯陀语          Avestan              avesta

In [11]:
rw.insert(table_name="dim_language", data=df)